# Adding new metrics to the dashboard

Now that we have seen what z-scores are let us add the z-scores of returns to the dashboard

# 2) Import required modules

In [4]:
import yfinance as yf
import pandas as pd

import ipywidgets as widgets
from datetime import datetime

import matplotlib.pyplot as plt
plt.style.use('ggplot')
plt.rcParams['figure.dpi'] = 150

import seaborn as sns

# 3) List of required markets

In [1]:
Symbols = { 
  '^NSEI':'Nifty 50', 
  '^GSPC':'S&P 500',
  '^DJI':'DOW',
  '^RUT':'Russell',
  '^IXIC':'NASDAQ',
  '^FTSE':'FTSE 100',
  '^GDAXI':'DAX',
  '^FCHI':'CAC 40',
  '^N225':'Nikkei 225',
  '^HSI':'Hang Seng Index',
  '^KS11':'Kospi',
  '000001.SS':'Shanghai' 
}

# 4) Download close prices and change the column names from symbols to short name

In [20]:
tickers = Symbols.keys()
ticker_list = [(lambda x: x)(x) for x in tickers]
df = yf.download(tickers=ticker_list, period='5y')['Close'].fillna(method='ffill')

[*********************100%***********************]  12 of 12 completed

In [21]:
#Changing the name of the columns
df = df.rename(columns=Symbols)
df.head()

,Shanghai,DOW,CAC 40,FTSE 100,DAX,S&P 500,Hang Seng Index,NASDAQ,Kospi,Nikkei 225,Nifty 50,Russell
Date,,,,,,,,,,,,
2016-11-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8074.100098,NaN
2016-11-21,3218.147949,18956.689453,4529.580078,6778.000000,10685.129883,2198.179932,22357.779297,5368.859863,1966.050049,18106.019531,7929.100098,1322.229980
2016-11-22,3248.352051,19023.869141,4548.350098,6819.700195,10713.849609,2202.939941,22678.070312,5386.350098,1983.469971,18162.939453,8002.299805,1334.339966
2016-11-23,3241.136963,19083.179688,4529.209961,6817.700195,10662.440430,2204.719971,22676.689453,5380.680176,1987.949951,18162.939453,8033.299805,1342.089966
2016-11-24,3241.736084,19083.179688,4542.560059,6829.200195,10689.259766,2204.719971,22608.490234,5380.680176,1971.260010,18333.410156,7965.500000,1342.089966

# 5) Z-Scores for sample period

## (i) Get the period returns

In [ ]:
period = 5 #For rolling weekly returns
#Find the rolling period returns

## (ii) Get the mean of returns every day till that day

In [ ]:
#Find the expanding mean (Mean till the current date every day)

## (iii) Get the standard deviation of returns every day till that day

In [ ]:
#Find the expanding standard deviation (std till the current date every day)

## (iv) Get the Z-Score of returns using the returns, mean and standard deviation

![image.png]()

In [ ]:
#Find the Z-Scores using the returns, mean and standard deviation

## (v) Arrange the data in the following way to make it easier to deal with adding multiple period z_scores

Arrange the data in the following way

Date, symbol, Return value, Z-Score

### (a) Reset the index of returns and z-scores data frame

In [ ]:
#Reset the index of returns

In [ ]:
#Reset the index of z-scores

### (b) Melt the returns & z-score data frame & Sort by date

In [ ]:
#Melt the returns data frame

In [ ]:
#Melt the z_score data frame

In [ ]:
#Sort returns and z scores by date

### (c) Set the date and symbol as multi index for returns and z-scores

In [ ]:
#Set the multi index for returns

In [ ]:
#Set the multi index for z-score

### (d) Combine the returns and the z_scores

### (e) Add period information to combined data frame

# 6) Create function to get Z-Score

Input: Close prices, Period, Name for the period

Output: Returnns and z_scores

In [ ]:
def get_zscores(close_prices, period_val, period_name):

  #Period returns
  

  #Expanding mean of returns
  

  #Expanding std of returns
  

  #Z-Score of returns
  

  #Melt the returns data frame
  
  
  #Melt the zcores data frame
  

  #Sort the returns by date in ascending order
  

  #Sort the returns by date in ascending order
  

  #Set the index to be date & symbol for returns
  
  
  #Set the index to be date & symbol for z scores
  

  #Combine returns and Z Scores
  

  #Add period name to the columns
  

  return combined_rets_zscores

In [ ]:
#Test the function

# 7) Using the Function get the vals for weekly, monthly and quarterly

In [ ]:
#Weekly returns

In [ ]:
#Monthly returns

In [ ]:
#Quarterly returns

# 8) Combine all periods values

# 9) Reset the index to get the values as on a particluar day

# 10) Get the data for a particular day

## (i) For a particular date, get the last data available date till that date

In [ ]:
#Convert the string to datetime

In [ ]:
#List of all unique dates available

In [ ]:
#Sort the available dates

In [ ]:
#last data available date till the input date

## (ii) Get the summary as on the required date

In [ ]:
# filter the summary as on required date

# 11) Plot a scatter plot with weekly z_scores on x-axis, monthly z_scores on y-axis and size & color indicating the quarterly returns

## (i) Create a copy of date's data as plot df

## (ii) Create a column indicating the color of quartely returns

Red if the returns are negative & green if the returns are positive

## (iii) Create a column of absolute quartely retuns as there cannot be negative size

## (iv) Create a basic scatter plot to see what all need to be changed

In [ ]:
# use plt.scatter

## (v) Add all the remaining elements to the plot

In [ ]:

#Add title to summarize the plot

#Add appropriate x-label

#Add appropriate y-label

#Add lables to the data points in scatter plot

# 12) Function to get the plot based on input date

In [ ]:
def get_plot_for_date(all_periods_summary,req_date):

  #converting the input string to date
  
  
  #All available dates
  
  
  #All dates sorted
  
  
  #Last data available date till the input date
  
  
  #Data as on the required date
  
  
  #Copy of the req_date_data
  

  #Creating a color col to indicate quarterly returns
  

  #Creating a abs val of quarterly returns to indicate the depth of returns 
  


  

  #Add title to summarize the plot
  

  #Add appropriate x-label
  

  #Add appropriate y-label
  

  #Add lables to the data points in scatter plot
  

  return req_date_data

In [ ]:
#Test the function

# 13) Collect all the functions together to easily test for various market combinations

In [ ]:
def get_all_periods_summary(Symbols):
  #list of input symbols
  
  
  #Download data from yahoo finance

  
  #Keep only the close prices
  
  
  #Change the column names to be names instead of symbols
  
  
  #Weekly returns
  
  
  #Monthly returns
  
  
  #Quarterly returns
  
  
  #Combine all period returns
  
  
  #Reset the index
  

  return all_periods_summary

In [ ]:
Symbols = {'^NSEI':'Nifty 50',
           '^NSEBANK':'NIFTY BANK',
           '^CNXIT':'NIFTY IT',
           'RELIANCE.NS':'RELIANCE',
           'ICICIBANK.NS':'ICICI Bank',
           'SBIN.NS':'SBI Bank'
           }

In [ ]:
all_periods_summary = get_all_periods_summary(Symbols)
all_periods_summary.tail()

In [ ]:
summary_data = get_plot_for_date(all_periods_summary,'2021-09-30')
summary_data