# Advanced Program in AI for Financial Markets
## A program by NSE Academy & TalentSprint
### Assignment :  Probability distributions

### Setup Steps:

In [143]:
#@title Please enter your registration id to start: { run: "auto", display-mode: "form" }
Id = "you can get your id from the dashboard" #@param {type:"string"}

In [144]:
#@title Please enter your password (your registered phone number) to continue: { run: "auto", display-mode: "form" }
password = "your registered mobile number" #@param {type:"string"}

In [145]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook= "20211122_AIFM_C1_Week3_ProbabilityDistributions" #name of the notebook

def setup():
#  ipython.magic("sx pip3 install torch")  
    
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None
    
    elif getAnswer1() and getAnswer2() and getAnswer3() and getAnswer4() and getAnswer5() and getComplexity() and getAdditional() and getConcepts() and getComments() and getMentorSupport():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer1" : Answer1, "answer2" : Answer2,
              "answer3" : Answer3,"answer4" : Answer4,"answer5" : Answer5,
              "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook,
              "feedback_experiments_input" : Comments,
              "feedback_mentor_support": Mentor_support}
      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:        
        print(r["err"])
        return None   
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: http://aifm.nse.talentsprint.com/notebook_submissions")
        #print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
        return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if not Additional: 
      raise NameError
    else:
      return Additional  
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None
  
  
# def getWalkthrough():
#   try:
#     if not Walkthrough:
#       raise NameError
#     else:
#       return Walkthrough
#   except NameError:
#     print ("Please answer Walkthrough Question")
#     return None
  
def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None
  

def getMentorSupport():
  try:
    if not Mentor_support:
      raise NameError
    else:
      return Mentor_support
  except NameError:
    print ("Please answer Mentor support Question")
    return None

def getAnswer1():
  try:
    if not Answer1:
      raise NameError 
    else: 
      return Answer1
  except NameError:
    print ("Please answer Question1")
    return None

def getAnswer2():
  try:
    if not Answer2:
      raise NameError 
    else: 
      return Answer2
  except NameError:
    print ("Please answer Question2")
    return None

def getAnswer3():
  try:
    if not Answer3:
      raise NameError 
    else: 
      return Answer3
  except NameError:
    print ("Please answer Question3")
    return None

def getAnswer4():
  try:
    if not Answer4:
      raise NameError 
    else: 
      return Answer4
  except NameError:
    print ("Please answer Question4")
    return None

def getAnswer5():
  try:
    if not Answer5:
      raise NameError 
    else: 
      return Answer5
  except NameError:
    print ("Please answer Question5")
    return None

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup() 
else:
  print ("Please complete Id and Password cells before running setup")

Please enter valid Id

# 1) Install yfinance module

In [146]:
# Your code here

# 2) Import the following modules yfinance, pandas, numpy and (binom, norm) from scipy.stats

In [147]:
import yfinance as yf
import pandas as pd
import numpy as np
from scipy.stats import binom, norm

# 3) Download the nifty data from yfinance

Keep the records till 2021-11-21 only

In [148]:
nifty = yf.download('^NSEI', end='2021-11-21')

nifty.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-11-12,17977.599609,18123.000000,17905.900391,18102.750000,18102.750000,249100
2021-11-15,18140.949219,18210.150391,18071.300781,18109.449219,18109.449219,280400
2021-11-16,18127.050781,18132.650391,17958.800781,17999.199219,17999.199219,267400
2021-11-17,17939.349609,18022.650391,17879.250000,17898.650391,17898.650391,295700
2021-11-18,17890.550781,17945.599609,17688.500000,17764.800781,17764.800781,278400

# 4) Replace the 0's in volume column with nan, fill na with previous values in all columns and drop the rows that still have na

In [149]:
nifty_price = nifty['Close']
nifty_volume = nifty['Volume']

nifty_volume.replace(0, np.nan, inplace=True)
nifty_volume.fillna(method='ffill', inplace=True)

nifty_volume.dropna(inplace=True)
print(nifty_volume.isna().any())
nifty_volume

False

Date
2013-01-21    130900.0
2013-01-22    129000.0
2013-01-23    137000.0
2013-01-24    185200.0
2013-01-25    147600.0
                ...
2021-11-12    249100.0
2021-11-15    280400.0
2021-11-16    267400.0
2021-11-17    295700.0
2021-11-18    278400.0
Name: Volume, Length: 2162, dtype: float64

# 5) Compute the daily returns & create daily return based signal


After computing the daily returns, create a new column **'daily_ret_signal'** with 1 & 0 where 

**'1'** indicates the daily returns for the day are greater than or equal to q3 value (Value at 75th Quantile) (Daily ret >= (75th Quantile of Daily ret)

**'0'** indicates the daily returns for the day are less than q3 value (Value at 75th Quantile) (Daily ret < (75th Quantile of Daily ret)

In [150]:
# nifty['daily_returns'] = nifty.Close.pct_change().mul(100)
# q75 = nifty['daily_returns'].quantile(0.75)
# nifty['daily_ret_signal'] = nifty['daily_returns'] >= q75
# nifty['daily_ret_signal'] = nifty['daily_ret_signal'].astype(int)
# nifty

daily_returns = nifty_price.pct_change().mul(100).copy()
q75 = daily_returns.quantile(.75)
print(q75)
events = pd.Series([0]*len(daily_returns), index = daily_returns.index)
events[daily_returns>=q75] = 1
events

pr_success = len(events[events>0]) / len(events)
print(pr_success)

df = pd.DataFrame()
df['daily_ret_signal'] = events
df

0.6917728526201428
0.25014442518775276

            daily_ret_signal
Date
2007-09-17                 0
2007-09-18                 1
2007-09-19                 1
2007-09-20                 0
2007-09-21                 1
...                      ...
2021-11-12                 1
2021-11-15                 0
2021-11-16                 0
2021-11-17                 0
2021-11-18                 0

[3462 rows x 1 columns]

# 6) Compute the change in volume & create volume change based signal


After computing the pct change in volume, create a new column **'vol_change_signal'** with 1 & 0 where 

**'1'** indicates the pct change in volume for the day is greater than or equal to q3 value (Value at 75th Quantile) (pct change in volume >= (75th Quantile of pct change in volume)

**'0'** indicates the pct change in volume for the day is less than q3 value (Value at 75th Quantile) (pct change in volume < (75th Quantile of pct change in volume)

In [151]:
# nifty['vol_change'] = nifty.Volume.pct_change().mul(100)
# q75 = nifty['vol_change'].quantile(0.75)
# nifty['vol_change_signal'] = nifty['vol_change'] >= q75
# nifty.replace(to_replace={
#   'vol_change_signal': {True: 1, False: 0}
# }, inplace=True)
# nifty

vol_change = nifty_volume.pct_change().mul(100).copy()
print(vol_change)
q75 = vol_change.quantile(.75)
print(q75)
vol_success = len(vol_change[vol_change>=q75]) / len(vol_change)
print(vol_success)
events = pd.Series([0]*len(vol_change), index = vol_change.index)
events[vol_change>=q75] = 1
events

df['vol_change_signal'] = events
df

Date
2013-01-21          NaN
2013-01-22    -1.451490
2013-01-23     6.201550
2013-01-24    35.182482
2013-01-25   -20.302376
                ...
2021-11-12     7.324429
2021-11-15    12.565235
2021-11-16    -4.636234
2021-11-17    10.583396
2021-11-18    -5.850524
Name: Volume, Length: 2162, dtype: float64
14.52870304748406
0.25023126734505086

            daily_ret_signal  vol_change_signal
Date
2007-09-17                 0                NaN
2007-09-18                 1                NaN
2007-09-19                 1                NaN
2007-09-20                 0                NaN
2007-09-21                 1                NaN
...                      ...                ...
2021-11-12                 1                0.0
2021-11-15                 0                0.0
2021-11-16                 0                0.0
2021-11-17                 0                0.0
2021-11-18                 0                0.0

[3462 rows x 2 columns]

# 7) Create a contingency table of 'vol_change_signal' & 'daily_ret_signal'

Hint: use pd.crosstab()

Sample output: 

![image.png]()

In [169]:
nifty_corr = pd.crosstab(df['vol_change_signal'], df['daily_ret_signal'], normalize=True)
nifty_corr

daily_ret_signal          0         1
vol_change_signal
0.0                0.583256  0.166512
1.0                0.191952  0.058279

In [154]:
p_success = 0.25014442518775276
days = 7

prob_pmf = binom.pmf(2, days, p_success)
prob_pmf
# prob_cdf = binom.cdf(12, 30, p_success)

0.3115222526632704

In [155]:
prob_cdf = binom.cdf(15, 30, 0.25014442518775276)
prob_cdf

0.9991754177964449

In [156]:
aggs = nifty['Close'].pct_change().mul(100).agg(['mean', 'std'])
print(aggs)
risk = norm.ppf(0.05, 0.000497, 0.014115)

print("Value at Risk: ", risk)

mean    0.049678
std     1.411459
Name: Close, dtype: float64
Value at Risk:  -0.02272010894442004

In [157]:
norm.cdf(-2)

0.022750131948179195

### Please answer the questions below to complete the experiment:

In [158]:
#@title Question 1: Given that today's market returns are more than q3 value (More than 75th quantile) what is the probability that they have a change in volume greater than q3 (More than 75th quantile)?{ run: "auto", form-width: "500px", display-mode: "form" }
Answer1 = "" #@param ["", "10", "12.53","20","15"]

In [159]:
#@title Question 2: What is the probability that we see two  days with change in volume more than q3 value (More than 75th Quantile) in a week? { run: "auto", form-width: "500px", display-mode: "form" }
Answer2 = "" #@param ["",32.62,25,15,10]

In [160]:
#@title Question 3: What is the probability that we see at most 15 days that have change in volume more that q3 value (More than 75th Quantile) in a month(30 Days)? { run: "auto", form-width: "500px", display-mode: "form" }
Answer3 = "" #@param ["",50,45,28,67.47]

In [161]:
#@title Question 4: What is the probability that the market will fall more than 2 pct in a given day? { run: "auto", form-width: "500px", display-mode: "form" }
Answer4 = "" #@param ["",1.5,2.5,2.93,3.23]

In [162]:
#@title Question 5: What is the level of return at which you can confidently say,there is 95% chance that the daily return will be higher than that? { run: "auto", form-width: "500px", display-mode: "form" }
Answer5 = "" #@param ["", 1.7,-1.7,2,-2]

In [163]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [164]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "" #@param {type:"string"}

In [165]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "" #@param ["","Yes", "No"]

In [166]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [167]:
#@title Mentor Support: { run: "auto", vertical-output: true, display-mode: "form" }
Mentor_support = "" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [168]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id = return_id
  else:
      print("Please complete the setup first.")
except NameError as err:
  print(err)
  print ("Please complete the setup first.")

Please complete the setup first.