In [6]:
import pandas as pd
import yfinance as yf

df_nifty = pd.read_csv('../../data/Nify100_Info.csv')

In [22]:
tickers = list(df_nifty['symbol'])

df = yf.download(tickers)['Close']

[*********************100%***********************]  100 of 100 completed

In [23]:
df.reset_index(inplace=True)

In [25]:
df_prices = pd.melt(df, id_vars=['Date'], var_name='symbol', value_name='price')
df_prices.head()

        Date  symbol  price
0 1995-12-25  ACC.NS    NaN
1 1995-12-26  ACC.NS    NaN
2 1995-12-27  ACC.NS    NaN
3 1995-12-28  ACC.NS    NaN
4 1995-12-29  ACC.NS    NaN

In [27]:
df_prices.dropna(inplace=True)

count = 0

for tick in tickers:
  if df_prices[tick]

<bound method DataFrame.count of              Date      symbol       price
1700   2002-07-01      ACC.NS  161.750000
1701   2002-07-02      ACC.NS  160.399994
1702   2002-07-03      ACC.NS  159.800003
1703   2002-07-04      ACC.NS  158.000000
1704   2002-07-05      ACC.NS  157.550003
...           ...         ...         ...
651295 2021-11-12  YESBANK.NS   13.150000
651296 2021-11-15  YESBANK.NS   13.050000
651297 2021-11-16  YESBANK.NS   13.050000
651298 2021-11-17  YESBANK.NS   13.000000
651299 2021-11-18  YESBANK.NS   12.850000

[459842 rows x 3 columns]>