In [6]:
import pandas as pd
import yfinance as yf

df_nifty = pd.read_csv('../../data/Nify100_Info.csv')

In [56]:
tickers = list(df_nifty['symbol'])

df = yf.download(tickers)['Close']

[*********************100%***********************]  100 of 100 completed

In [35]:
df.reset_index(inplace=True)

In [40]:
df_prices = pd.melt(df, id_vars=['Date'], var_name='symbol', value_name='price')
df_prices.head()

        Date  symbol  price
0 1995-12-25  ACC.NS    NaN
1 1995-12-26  ACC.NS    NaN
2 1995-12-27  ACC.NS    NaN
3 1995-12-28  ACC.NS    NaN
4 1995-12-29  ACC.NS    NaN

In [41]:
df_prices.dropna(inplace=True)

In [53]:
import numpy as np
count = 0
df_count = df_prices.groupby(['symbol'])
df_count = df_count.agg(min_date=('Date', np.min))
df_count.loc[df_count['min_date'] > '2010'].count()

min_date    18
dtype: int64

In [67]:
df_monthly_returns = df.resample('M').ffill().pct_change().copy()
df_monthly_returns.dropna(inplace=True)
df_monthly_returns = df_monthly_returns*100
df_monthly_returns.count

<bound method DataFrame.count of                ACC.NS  ADANIENT.NS  ADANIGREEN.NS  ADANIPORTS.NS  \
Date
2020-12-31  -5.125951    20.368975      -7.374168      17.543437
2021-01-31  -0.853092     5.651133      -4.531631       5.364344
2021-02-28   8.064967    64.541604      15.419439      32.607418
2021-03-31   9.811335    23.690997      -4.741993       3.920698
2021-04-30  -1.077105    12.369677      -7.774808       3.936498
2021-05-31   5.486658    13.601459      24.461449       5.410588
2021-06-30   1.447597    14.529362     -11.299474      -8.556946
2021-07-31  18.825692    -5.790856     -21.566364      -4.149497
2021-08-31   0.797788    11.783135      21.086931      10.941436
2021-09-30  -6.576328    -7.527085       7.324379      -1.389812
2021-10-31   3.499663    -3.031129       0.545090      -6.084838
2021-11-30   4.589873    18.625318      16.732448       4.769118

            ADANITRANS.NS  AMBUJACEM.NS  APOLLOHOSP.NS  ASIANPAINT.NS  \
Date
2020-12-31      16.263623     -4.673427       2.764179      24.791222
2021-01-31       5.177141     -2.210167       6.152601     -12.919150
2021-02-28      62.990331     12.389560      19.420201      -5.406366
2021-03-31      21.120003     12.925048      -5.100290      11.426311
2021-04-30      15.576838      0.064750      10.157963      -0.039410
2021-05-31      40.356219      5.743407      -0.899140      17.390795
2021-06-30     -28.104644      4.238068      14.235901       0.510494
2021-07-31     -15.668502     20.695729      11.468704      -1.144452
2021-08-31      76.909727      2.407879      23.161086       8.210386
2021-09-30      -1.398202     -4.951900      -9.818791       1.352548
2021-10-31      13.403916      1.149419      -4.898926      -4.455020
2021-11-30       8.255065     -0.975786      31.124702       4.088578

            AUROPHARMA.NS  AXISBANK.NS  ...  TATASTEEL.NS     TCS.NS  \
Date                                    ...
2020-12-31       6.073341     3.133317  ...     11.483511   6.832986
2021-01-31      -1.742102     6.841810  ...     -6.626276   8.683961
2021-02-28      -5.528858     9.337752  ...     18.993348  -6.976073
2021-03-31       3.051915    -3.773451  ...     13.521632   9.796844
2021-04-30      11.295812     2.501973  ...     27.363433  -4.474729
2021-05-31       1.743390     5.007692  ...      8.863639   4.068322
2021-06-30      -3.281728    -0.319705  ...      3.637894   5.906655
2021-07-31      -5.035230    -5.265263  ...     22.947032  -5.329150
2021-08-31     -20.652410    10.946533  ...      1.112037  19.542535
2021-09-30      -0.343737    -2.536556  ...    -11.125666  -0.287866
2021-10-31      -4.891006    -3.202660  ...      2.098683 -10.006490
2021-11-30      -7.224195    -4.804586  ...     -9.829399   2.294164

             TECHM.NS   TITAN.NS  TORNTPHARM.NS  ULTRACEMCO.NS     UPL.NS  \
Date
2020-12-31  10.988201  15.130038       7.173716      10.123905  11.647113
2021-01-31  -1.212494  -9.370512      -6.941523       0.739391  20.220868
2021-02-28  -4.425842  -0.943464      -6.899525      14.787179   0.160521
2021-03-31   7.901185  10.743480       4.812211      10.187248  14.299704
2021-04-30  -3.131775  -4.261739      -1.406654      -6.812161  -5.445190
2021-05-31   6.377551   7.012367       9.249780       6.833146  34.305477
2021-06-30   7.223602   8.535630       5.845660       1.013715  -2.729726
2021-07-31  10.415820  -1.036072       5.841604      12.443923   1.980200
2021-08-31  19.685004  12.076050       1.133138       2.798850  -8.323541
2021-09-30  -4.631648  12.502609      -0.656811      -5.571055  -4.526137
2021-10-31   7.044039  10.255103      -7.295417       3.244273   4.592341
2021-11-30   6.083163   3.970963      -2.415741       1.724064   0.168873

              VEDL.NS   WIPRO.NS  YESBANK.NS
Date
2020-12-31  33.664591  10.199715   21.428576
2021-01-31  -0.092933   8.194173  -11.764708
2021-02-28  28.558141  -1.818618    0.000000
2021-03-31  10.347321   0.938339   -0.952379
2021-04-30  12.459016  18.978633   -6.730770
2021-05-31   6.588926   9.396243   -7.216496
2021-06-30  -4.139316   1.224383    0.370372
2021-07-31  14.837359   7.605608   -5.904060
2021-08-31   0.314720   9.162903  -15.294116
2021-09-30  -5.003301  -1.068732   16.203703
2021-10-31   5.683993   1.994957    1.992032
2021-11-30   1.825654   0.726712    0.390626

[12 rows x 100 columns]>

In [69]:
df_quarterly_returns = df.resample('Q').ffill().pct_change().copy()
df_quarterly_returns.dropna(inplace=True)
df_quarterly_returns = df_quarterly_returns*100
print(df_quarterly_returns)

               ACC.NS  ADANIENT.NS  ADANIGREEN.NS  ADANIPORTS.NS  \
Date
2021-03-31  17.655239   115.024513       4.963899      45.198971
2021-06-30   5.861030    46.200845       1.814730       0.185078
2021-09-30  11.896960    -2.616833       1.929056       4.860027
2021-12-31   8.250166    15.029632      17.368745      -1.605914

            ADANITRANS.NS  AMBUJACEM.NS  APOLLOHOSP.NS  ASIANPAINT.NS  \
Date
2021-03-31     107.634291     24.110910      20.302132      -8.214871
2021-06-30      16.628129     10.296256      24.708464      17.943567
2021-09-30      47.104637     17.481291      23.806234       8.418818
2021-12-31      22.765483      0.162417      24.700999      -0.548589

            AUROPHARMA.NS  AXISBANK.NS  ...  TATASTEEL.NS     TCS.NS  \
Date                                    ...
2021-03-31      -4.341691    12.410347  ...     26.132206  11.006902
2021-06-30       9.520030     7.290842  ...     43.696497   5.283443
2021-09-30     -24.906757     2.438861  ...     10.483461  12.846150
2021-12-31     -11.761866    -7.853371  ...     -7.937004  -7.941892

             TECHM.NS   TITAN.NS  TORNTPHARM.NS  ULTRACEMCO.NS     UPL.NS  \
Date
2021-03-31   1.875257  -0.580670      -9.192918      27.416021  37.632672
2021-06-30  10.489681  11.196685      14.009550       0.564709  23.525747
2021-09-30  26.030402  24.782112       6.337879       9.151418 -10.739732
2021-12-31  13.555702  14.633293      -9.534920       5.024271   4.768970

              VEDL.NS   WIPRO.NS  YESBANK.NS
Date
2021-03-31  41.728630   7.223299  -12.605042
2021-06-30  14.907106  31.751789  -13.141027
2021-09-30   9.435034  16.210015   -7.380074
2021-12-31   7.613417   2.736167    2.390440

[4 rows x 100 columns]